*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/nghia3.jpg);
     height: 100vh;
     background-size: cover;
     background-position: center;
}

.instruction, .play-ground {
    text-align: center;
    width: 100%;
}

.instruction {
    height: 37px;
    color: white;
    float: left;
    font-size: 30px;
    margin: 30px 0;
}

h3 {
    padding-left: 50px;
    padding-top: 10px;
    color: white;
}


