*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/nghia2.jpg);
     height: 100vh;
     background-size: cover;
     background-position: center;
}

#canvas {
    padding: 50px;
    padding-bottom: 10px;
}

header h3 {
    padding-left: 50px;
    padding-top: 10px;
    color: white;
}

header p {
    color: white;
    float: right;
    font-size: 30px;
    transform: translate(-100px,200px);
}